In [36]:
import reviews_functions_updated
import api_functions
import importlib

importlib.reload(reviews_functions_updated)
importlib.reload(api_functions)

In [ ]:
movies = reviews_functions_updated.format_reviews_data()

In [ ]:
movies_head = movies.head(5)

In [34]:
movies_head

    movie_id  spoiled_reviews imdb_rating
0  tt0012349               26         N/A
1  tt0015864               39         N/A
2  tt0017136               73         N/A
3  tt0017925               50         N/A
4  tt0018455               63         N/A

In [37]:
movies_w_ratings = api_functions.add_movie_ratings(movies_head)

In [38]:
movies_w_ratings

    movie_id  spoiled_reviews imdb_rating
0  tt0012349               26      8.2/10
1  tt0015864               39      8.1/10
2  tt0017136               73      8.3/10
3  tt0017925               50      8.1/10
4  tt0018455               63      8.1/10