In [15]:
import reviews_functions_updated
import api_functions
import importlib

importlib.reload(reviews_functions_updated)
importlib.reload(api_functions)

In [10]:
movies = reviews_functions_updated.format_reviews_data()
movies

       movie_id  spoiled_reviews  total_reviews
0     tt0012349               26            104
1     tt0015864               39            128
2     tt0017136               73            337
3     tt0017925               50            192
4     tt0018455               63            178
...         ...              ...            ...
1567  tt6048596               23             75
1568  tt6294822                2             11
1569  tt6868216                5             13
1570  tt7608418                8             39
1571  tt7608534                7             18

[1572 rows x 3 columns]

In [3]:
movies_head = movies.head(5)

In [ ]:
movies_w_ratings = api_functions.add_movie_ratings(movies_head)

numpy.float64